<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    
</head>
<body>
    <table>
        <tr>
            <th>名前</th>
            <th>email</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
    </table>
    <!--こちらに基礎課題で言われてる内容を記述しましょう。ここから-->
    <p id="textTag"></p>
    <p id="text01"></p>
    <ul id="cook_box">
    </ul>
    <div id="user_list_box"></div>

    <!--こちらに基礎課題で言われてる内容を記述しましょう。ここまで-->
    <!--こちらに実務課題で言われてる内容を記述しましょう。ここから-->
    <form action="">
      <input type="text" value="" name="" id="form_text">
      <input type="button" value="クリック" id="button" onclick="change();">
    </form>
    <div id="text_box"></div>
    <!-- <table>
    <% for (let i = 0; i < users.length; i++) { %>
      <tr>
        <td><%- users[i].name%></td>
      </tr>
      <tr>
        <td><%- users[i].name%></td>
      </tr>
    <% } %>
    </table> -->
    <table>
    <% users.forEach(function (users) { %>
      <tr>
        <td><%= users.email %></td>
        <td><%= users.name %></td>
        <td><a href="/edit/<%= users.id %>"><input type="button" value="更新"></a></td>
        <td><a href="/delete/<%= users.id %>"><input type="button" value="削除"></a></td>
      </tr>
    <% }); %>
    </table>
    <!--こちらに実務課題で言われてる内容を記述しましょう。ここまで-->
    <script type="text/javascript">
        // 参考例
        let textTag = document.getElementById('textTag');
        let NUMBER = `<%= number %>`;
        textTag.innerHTML = NUMBER;
        // 基礎課題01:画面に表示する機能作りましょう。
        let text01 = document.getElementById('text01');
        let TEXT = `<%= text %>`;
        text01.innerHTML = TEXT;
        /*
        基礎課題02,03をやる前に
        配列とオブジェクトリストをapp.jsから取得するときに以下のやり方が必要になります。
        変数名は自由に決めてください。プロパティ名についてはapp.jsでオブジェクト内に格納したプロパティ名を使用してください。
        以下使用する際は<%#の「#」部分を「=」に変更するよう気をつけてください。%>
        let 変数名 = JSON.parse('<%# JSON.stringify(プロパティ名) %>'.replace(/&#34;/g, '"'));
        */
        let listCook = JSON.parse('<%= JSON.stringify(cook) %>'.replace(/&#34;/g, '"'));

        // 基礎課題02:HTML内にulタグを作成し、liタグでapp.jsで作成した情報を画面に表示して下さい。
        let cook_box = document.getElementById('cook_box');
        let COOK = `<%= cook %>`;

        listCook.forEach(function(element) {
          cook_box.insertAdjacentHTML("beforeend",`<li>${element}</li>`);
        });

        // 基礎課題03:作成したオブジェクトリストをブラウザに出力して下さい。その場合以下の様に出力して下さい。
        // 例）
        // name: s.chiba
        // email: s.chiba@gmail.com
        let userNames = JSON.parse('<%= JSON.stringify(userlist) %>'.replace(/&#34;/g, '"'));

        let user_list_box = document.getElementById('user_list_box');
        let USERLIST = `<%= userlist %>`;

        // userNames.forEach(function(userNames) {
        //   user_list_box.insertAdjacentHTML("beforeend",`<div>${userNames.name}</div>`);
        // });

        for (let i = 0; i < userNames.length; i++) {
          console.log(userNames[i].name);
          user_list_box.insertAdjacentHTML("beforeend",`<div>${userNames[i].name}</div><div>${userNames[i].email}</div>`);
        }

        // DBからのオブジェクトクラスになります。一旦console.logで何の情報が入ってるのか確認しましょう。

        // 実務課題01:IDで検索したオブジェクトクラスを入力フォームに表示して下さい。
        let users = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));
        let button = document.getElementById('button');
        let form_text = document.getElementById("form_text");
        let text_box = document.getElementById('text_box');

        function change(){
          users.forEach(function(users) {
            console.log(users);
            if(users.id == form_text.value){
              text_box.insertAdjacentHTML("beforeend",`<div>${users.name}</div><div>${users.email}</div>`);
            }
          });
        }


    </script>
</body>
</html>